# Demo: Identifying Patterned Relationships and Correlation

In [2]:
# Initial imports
import numpy as np
import pandas as pd
import hvplot.pandas
from pathlib import Path

## Loading Time Series Data Into a DataFrame

In [3]:
# Set the file path
file_path = Path("SPGlobal_Amazon.com,Inc._FinancialHighlights_17-Jul-2023.csv")

In [5]:
# Load time series data into Pandas
df_home_sales = pd.read_csv(
    file_path,
    index_col="Period Ended",
    parse_dates=True
)

In [6]:
# Display sample data
df_home_sales.head(10)

              Total Assets       EBIT  Basic EPS
Period Ended
2017-03-31      80969000.0  1005000.0       0.08
2017-06-30      87781000.0   628000.0       0.02
2017-09-30     115267000.0   347000.0       0.03
2017-12-31     131310000.0  2127000.0       0.19
2018-03-31     126362000.0  1927000.0       0.17
2018-06-30     134100000.0  2983000.0       0.26
2018-09-30     143695000.0  3724000.0       0.30
2018-12-31     162648000.0  3786000.0       0.31
2019-03-31     178102000.0  4420000.0       0.36
2019-06-30     191351000.0  3084000.0       0.27

In [7]:
# Sort the DataFrame index in ascending order
df_home_sales = df_home_sales.sort_index()

# Display sample data
df_home_sales.head(10)

              Total Assets       EBIT  Basic EPS
Period Ended
2017-03-31      80969000.0  1005000.0       0.08
2017-06-30      87781000.0   628000.0       0.02
2017-09-30     115267000.0   347000.0       0.03
2017-12-31     131310000.0  2127000.0       0.19
2018-03-31     126362000.0  1927000.0       0.17
2018-06-30     134100000.0  2983000.0       0.26
2018-09-30     143695000.0  3724000.0       0.30
2018-12-31     162648000.0  3786000.0       0.31
2019-03-31     178102000.0  4420000.0       0.36
2019-06-30     191351000.0  3084000.0       0.27

## Analyzing Data Correlations

In [14]:
# Compute the correlation between "inventory" and "homes_sold"
df_home_sales[["EBIT", "Total Assets"]].corr()

                  EBIT  Total Assets
EBIT          1.000000      0.457063
Total Assets  0.457063      1.000000